@model MedicalOffice.Models.Appointment

@{
    ViewData["Title"] = "Remove Appointment";
}

<h2>Remove Appointment for Patient: @Model.Patient.Summary</h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentReason.ReasonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtraFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Summary)
        </dd>
    </dl>

    <form asp-action="Remove">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <partial name="_BackToList" />
    </form>
</div>