@model MedicalOffice.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OHIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OHIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpYrVisits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpYrVisits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneFormatted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coverage)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalTrial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalTrial.TrialName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientConditions)
        </dt>
        <dd class="col-sm-10">
            @foreach (var c in Model.PatientConditions)
            {
                @c.Condition.ConditionName <br />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Summary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
