@model MedicalOffice.Models.Patient

<partial name="_ViewHeading" />
<hr />
@{
    var hasPicture = (Model.PatientPhoto?.Content != null);
    if (hasPicture)
    {
        @:<div>
            string imageBase64 = Convert.ToBase64String(Model.PatientPhoto.Content);
            string imageSrc = string.Format("data:" + Model.PatientPhoto.MimeType + ";base64,{0}", imageBase64);
            <img src="@imageSrc" alt="Profile Picture of @Model.Summary" 
                title="Profile Picture of @Model.Summary" class="img-fluid rounded" />
        @:</div><hr />
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="RowVersion" />
             <div>
        @{
            if (hasPicture)
            {
                <div class="row">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                        <label class="form-check-label" for="chkRemoveImage">
                        <strong>Check to remove Image</strong>
                        </label>
                    </div>
                </div>
            }
        }
    </div>

            <div class="form-group">
                <label asp-for="OHIP" class="control-label"></label>
                <input asp-for="OHIP" class="form-control" />
                <span asp-validation-for="OHIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Picture File:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpYrVisits" class="control-label"></label>
                <input asp-for="ExpYrVisits" class="form-control" />
                <span asp-validation-for="ExpYrVisits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coverage" class="control-label"></label>
                <select asp-for="Coverage" class="form-control" asp-items="Html.GetEnumSelectList<Coverage>()"></select>
                <span asp-validation-for="Coverage" class="text-danger"></span>
            </div>
    
         <div class="form-group">
            <label asp-for="MedicalTrialID" class="control-label"></label>
            <select asp-for="MedicalTrialID" class="form-control" asp-items="ViewBag.MedicalTrialID">
            <option value="">None</option>
            </select>
            <span asp-validation-for="MedicalTrialID" class="text-danger"></span>

    </div>

    <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.PatientConditions)</label>
                <div class="m-2">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<MedicalOffice.ViewModels.CheckOptionVM> checkboxes = ViewBag.ConditionOptions;
                                foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorID"></select>
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
