@{
    if (ViewData["ActionName"].ToString() == "Details")
    {
        @:<h2>@ViewData["ControllerFriendlyName"] Details</h2>
    }
    else if (ViewData["ActionName"].ToString() == "Index")
    {
        @:<h2>@ViewData["ControllerFriendlyName"] Index</h2>
    }
    else if (ViewData["ActionName"].ToString() == "Delete" ||
                ViewData["ActionName"].ToString() == "Remove")
    {
        //Prepare the quesiton about deleting this record
        //Assume we do not have a summary property
        string summary = "this " + ViewData["ControllerFriendlyName"];
        if (ViewData.ModelMetadata.Properties.FirstOrDefault(p => p.PropertyName == "Summary") != null)
        {
            // We DO, we DO have a Summary Property!
            summary = Model.Summary.ToString();
        }

        @:<h2>@ViewData["ActionName"] @ViewData["ControllerFriendlyName"]</h2>
        <p>
            <h4>Are you sure you want to @(ViewData["ActionName"].ToString().ToLower()) @(summary)?</h4>
        </p>
    }
    else
    {
        @:<h2>@ViewData["ActionName"] @ViewData["ControllerFriendlyName"]</h2>
    }
}