@model IEnumerable<MedicalOffice.Models.Patient>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">List of Patients</h4>
    </div>
    <div class="panel-body scrollable-panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgeSummary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneFormatted)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Patient" asp-route-ID="@item.ID">
                                @Html.DisplayFor(modelItem => item.Summary)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgeSummary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneFormatted)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>