@model MedicalOffice.Models.Doctor

<partial name="_ViewHeading" />

<div>
    <h4>@Model.Summary</h4>
    <hr />
</div>
<div>
    <!-- Nav tabs -->
    <nav>
        <div class="nav nav-tabs" id="myTabs" role="tablist">
            <button class="nav-link active" id="Basic-Tab" data-bs-toggle="tab" data-bs-target="#BasicPanel"
                    type="button" role="tab" aria-controls="BasicPanel" aria-selected="true">
                Basic Details
            </button>
            <button class="nav-link" id="Patients-Tab" data-bs-toggle="tab" data-bs-target="#PatientsPanel"
                    type="button" role="tab" aria-controls="PatientsPanel" aria-selected="false">
                Patients
            </button>
            <button class="nav-link" id="Specialities-Tab" data-bs-toggle="tab" data-bs-target="#SpecialitiesPanel"
                    type="button" role="tab" aria-controls="SpecialitiesPanel" aria-selected="false">
                Specialities
            </button>
            <button class="nav-link" id="Documents-Tab" data-bs-toggle="tab" data-bs-target="#DocumentsPanel"
                    type="button" role="tab" aria-controls="DocumentsPanel" aria-selected="false">
                Documents
            </button>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" role="tabpanel" id="BasicPanel">
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>
        </div>
        <div class="tab-pane fade ml-3" role="tabpanel" id="PatientsPanel" aria-labelledby="Patients-tab">
            <br />
        </div>
        <div class="tab-pane fade ml-3" role="tabpanel" id="SpecialitiesPanel" aria-labelledby="Specialities-tab">
            <br />
        </div>
        <div class="tab-pane fade ml-3" role="tabpanel" id="DocumentsPanel" aria-labelledby="Documents-tab">
            <br />
        </div>
    </div>
</div>
<hr />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <partial name="_BackToList" />
</div>

@section Scripts {
    <script type="text/javascript">
        $('.nav-link').click(function () {
            var activeTab = $(this).attr("id");
            switch (activeTab) {
                case 'Patients-Tab': $('#PatientsPanel').load('/Doctor/ListOfPatientsDetails/@Model.ID');
                    break;
                case 'Specialities-Tab': $('#SpecialitiesPanel').load('/Doctor/ListOfSpecialtiesDetails/@Model.ID');
                    break;
                case 'Documents-Tab': $('#DocumentsPanel').load('/Doctor/ListOfDocumentsDetails/@Model.ID');
                    break;
                default: break;
            };
        })
    </script>
}